@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-background: var(--background);
  --font-sans: var(--font-ubuntu), ui-sans-serif, system-ui, sans-serif;
  --color-t-black : #2e2e30;
  --color-t-gray : #fdf3e9;
  --color-t-orange : #ffae17 ;
  --color-t-orange-light : #fdc864  ;
  --color-t-green : #B6F500 ;
  /* --color-custom-button-color: var(--custom-button-color); */
}
button{
  cursor: pointer;
}

:root {
  --background: var(--color-t-black);
}

@layer base {
  body {
    @apply bg-background;
    font-family: var(--font-ubuntu);
    
  }

}

