@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-background: var(--background);
  --font-sans: var(--font-ubuntu), ui-sans-serif, system-ui, sans-serif;
  --color-t-black : #2e2e30;
  --color-t-gray : #fdf3e9;
  --color-t-orange : #ffae17 ;
  --color-t-orange-light : #fdc864  ;
  --color-t-green : #B6F500 ;
}
button{
  cursor: pointer;
}

:root {
  --background: var(--color-t-black);
}

@layer base {
  body {
    @apply bg-background;
    font-family: var(--font-ubuntu);
    
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(182, 245, 0, 0.3) transparent;
  }

  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(182, 245, 0, 0.3);
    border-radius: 4px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: rgba(182, 245, 0, 0.5);
  }

}

